<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Add User</title>
  <link rel="stylesheet" href="" th:href="@{/css/Add_User.css}" />
</head>

<body>
  <a href="/admin/services">Back</a>
  <div class="addUser">
    <h3>ADD NEW USER / CUSTOMER</h3>
    <form action="" th:action="@{/addingUser}" method="post">
      <label for="name">User Name :</label>
      <input type="text" name="uname" placeholder="Enter user name..." required />

      <label for="email">User Email :</label>
      <input type="email" name="uemail" placeholder="Enter email..." required />

      <label for="telephone">User Number :</label>
      <input type="tel" name="unumber" placeholder="Enter 10-digit mobile number..." pattern="[0-9]{10}" required />

      <input type="hidden" name="upassword" value="2330" />
      <button type="submit">Add User</button>
    </form>
  </div>
</body>

</html>
