<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Product : Update</title>
  <link rel="stylesheet" href="" th:href="@{/css/Update_Product.css}" />
</head>

<body>
  <a href="/admin/services">Back</a>

  <div class="updateProduct">
    <h3>UPDATE EXISTING PRODUCT</h3>

    <form action="" th:action="@{'/updatingProduct/' + ${product.pid}}" th:object="${product}" method="post">
      <input type="hidden" name="pid" th:value="${product.pid}" />

      <input type="text" name="pname" placeholder="Enter product name..." th:value="${product.pname}" 
        class="productName" minlength="2" required><br />

      <input type="number" name="pprice" placeholder="Enter product price..." th:value="${product.pprice}" 
        class="productPrice" required><br />

      <textarea name="pdescription" placeholder="Enter product description..." class="productDescription"
        rows="3" required 
        th:text="${product.pdescription}"></textarea><br />

      <button type="submit">Update Product</button>
    </form>
  </div>
</body>

</html>
